body{
	background: url('darkness.png') center center repeat;
	background-attachment: fixed;
}
.img{
	height: 200px;
	width: 200px;
}
.btnsum{
	margin-bottom: 2%;
    margin-left: 45%;
}
.name{
	color: #fff;
	margin-top: 0px;
}
.pricename{
	color:#FFF;
}
#price{
	padding-top: 30px;
	display: flex;
	flex-wrap: wrap;
}
.mdl{
	text-align: center;
}
.logo{
	height: 200px;
	width: 200px;
	margin-left: 37%;
	margin-top: 30px
}
.headdiv{
	height: 300px;
	margin-left: 2.5%;
	height: 300px;
	background: url('ep_naturalblack.png') center center repeat;
	width: 90%;
	border-radius: 20px;
}
.menuh2{
	text-align: center;
	color: #fff;
}
.quantity{
	width: 200px;
	margin-top: 5px;
}
.mdlul{
	list-style: none;
	margin-left: -40px;
}
.Product{
margin-left: 50px; 
}

@media only screen and (min-width: :320px){
	#price{
		margin-left: 10%;
	}
}
@media only screen and (min-width: 480px){
	#price{
		margin-left: 10%;
	}
}
@media only screen and (min-width: 768px){
	#price{
		margin-left: 10%;
	}
}
@media only screen and (min-width: 992px){
	#price{
		margin-left: 2%;
	}
}